# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# YOLO model weights (tu dong tai khi chay lan dau)
*.pt

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Spark
metastore_db/
derby.log
spark-warehouse/
